/* Desenvolva sua estilização aqui...*/

#recentProfiles{
  list-style: none;
}

.img-perfil-sugery {
    width: 44px;
    height: 44px;
    background: #d9d9d9;
    border: 1px solid #ffffff;
    border-radius: 100%;
    list-style: none;
  }

small{
  font-weight: 500;
  font-size: 12px;
  color: #212529;

  display: none;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  width: max-content;
  height: 26px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  position: relative;
  left: -30%;
  top: -10px;
  }

li:hover > small {
  display: flex;
}

/* button{
  opacity: 30%;
} */
.loading{
  animation: spinner 1s infinite linear;
}

@keyframes spinner {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}